<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <p>Count: <div th:text="${recipeList.size()}"></div>

  <table border=1>
  	<tr th:each="recipe : ${recipeList}">
  	  <td th:text="${recipe.description}">descr</td>
  	  <td th:text="${recipe.prepTime}">prep</td>
  	  <td th:text="${recipe.cookTime}">cooking</td>
  	  <td th:text="${recipe.servings}">servings</td>
  	  <td th:text="${recipe.source}">source</td>
  	  <td th:text="${recipe.url}">url</td>
  	  <td th:text="${recipe.difficulty}">difficulty</td>
  	  <td th:text="${recipe.notes.recipeNotes}">notes</td>
  </table>

</body>
</html>